<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <a href="{{url_for('dashboard.dashboard')}}">Home</a><br><br>
  <a href="{{url_for('auth.register')}}">Register</a><br><br>
  <form method="POST" action="">
    {{ login_form.hidden_tag() }}
    {{ login_form.username }}
    {{ login_form.password }}
    {{ login_form.submit }}
  </form>
</body>
</html>