<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Register Page</h1>
  <a href="{{url_for('auth.login')}}">Login</a><br><br>
  <a href="{{url_for('dashboard.dashboard')}}">Home</a><br><br>

  <form method="POST" action="">
    {{ register_form.hidden_tag() }}
    {{ register_form.username }}
    {{ register_form.password }}
    {{ register_form.submit }}
  </form>

</body>
</html>